.dimmer {
  position: fixed;
  inset: 0;
  background-color: var(--overlay-color);
  z-index: 30;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;

  min-width: 900px;
  max-width: 90vw;
  min-height: 500px;
  max-height: 90vh;

  background-color: var(--dark-color);
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 940px) {
  .modal {
    min-width: 100%;
  }
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 12px;
  border-bottom: 1px solid var(--white-color);
}

.header_content > p {
  font-weight: 700;
  font-size: 22px;
  color: var(--white-color);
}

.header_content_btn_icon {
  border: none;
  outline: none;
  background-color: transparent;
  transition: color 120ms;
}

.header_content_btn_icon:hover .icon {
  color: var(--primary-color) !important;
  cursor: pointer;
}
