.article_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: calc(100vh - 105px);
}

.content_palces {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.content_react_paginate_module {
  margin-top: 43px;
  padding: 0 100px;
}

@media screen and (max-width: 1200px) {
  .content_palces {
    grid-template-columns: repeat(3, 1fr);
  }

  .content_react_paginate_module {
    padding: 0;
  }
}

@media screen and (max-width: 834px) {
  .content_palces {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 610px) {
  .content_palces {
    grid-template-columns: 1fr;
  }
}
