.article_content {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.content_palces {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.content_react_paginate_module {
  margin-top: 43px;
  padding: 0 100px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.content_title {
  color: var(--white-color);
}

@media screen and (max-width: 1200px) {
  .content_palces {
    grid-template-columns: repeat(3, 1fr);
  }

  .content_react_paginate_module {
    padding: 0;
  }
}

@media screen and (max-width: 834px) {
  .content_palces {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 610px) {
  .content_palces {
    grid-template-columns: 1fr;
  }
}
