:root {
  --overlay-color: #23262fd8;
  --navbar-bg-color-light: #d5e8fa;
  --navbar-bg-color-dark: #3c64b1;
  --section-bg-color-light: #e6f3ff;
  --auth-bg-color-light: #dff0ff;
  --dark-color: #141416;
  --white-color: #ffff;
  --placeholder-color: gainsboro;
  --black-color: #0000;
  --primary-color: #64b5f6;
  --danger-color: #ff7043;
  --succes-color: #0f6b39;
  --text-color: #373f41;
  --error-color: #ff6600;
}
