:root {
  --navbar-bg-color-light: #3c64b1;
  --section-bg-color-light: #e6f3ff;
  --white-color: #ffff;
  --black-color: #0000;
  --primary-color: #64b5f6;
  --danger-color: #ff7043;
  --succes-color: #0f6b39;
}
